@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(31, 31, 31);
}

.name {
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: rgb(60,60, 60);
    height: 10vh;
    padding: 5px 0 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.container p {
    padding: 3vh 0 ;
    text-align: center;
}

.container h2 {
    text-align: center;
    padding: 0 0 3vh ;
    font-size: 50px;
}


#word-input {
    height: 40px;
    width: 400px;
    text-align: center;
    outline: none;
    font-size: 18px;
}


.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0 0;
}

/* instructions */
.instructions-container {
    margin-top: 10vh;
    width: 500px;
    background-color: rgb(60,60, 60);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 1%;
}

.instructions-container h6 {
    font-size: 20px;

}

.instructions-container p {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}





